<div class="section-custom section-custom-iwt {{ section.settings.classname }}" 
    style="background-color:{{ section.settings.color_title }};">
   <div class="wrapper--full-padded">
     <div class="section-row {% if section.settings.row_reverse %}  row_reverse {% endif %} {% if section.settings.column %}  column {% endif %}">

     <div class="content_wrapper {% if section.settings.image == blank %} gap_none {% endif %}">
         {% if section.settings.title %}
           <h5 class="custom_heading_two color-black">
            {{- section.settings.title -}}
          </h5>
         {% endif %}
        {% if section.settings.content %}
          <div class="rte color-black">
              {{ section.settings.content  }}
          </div>
         {% endif %}

       {%- if section.settings.button_label != blank -%}
         <div {% if section.settings.btn_center %} {% else %} style="display: flex;justify-content: flex-start;width: 100%;" {% endif %}
               class="{% if section.settings.image == blank %} btn_mt_20 {% endif %}">
            <a
                  {% if section.settings.button_link == blank %}
                    role="link" aria-disabled="true"
                  {% else %}
                    href="{{ section.settings.button_link }}"
                  {% endif %}
                  class="btn btn--solid btn--medium btn--black "
                  {{ section.shopify_attributes }}
                 style="display: inline;"
                >
                  {{ section.settings.button_label  }}
                </a>
         </div>
               
              {%- endif -%}
              
     </div>
       {% if section.settings.image != blank %} 
     <div class="image_wrapper">
        <img src="{{ section.settings.image | image_url : master}}" class="img-fluid"/>
     </div>
         {% endif %}


      <!-- Blocks SUpport only col layout -->
    {% if section.settings.column %}
      <div class="block_wrapper">
        {%- for block in section.blocks -%}
          
              <div class="block_point" style="background-color:{{ block.settings.color_title }};">
                 {% if block.settings.image != blank %}
                  <div class="block_image">
                    <img src="{{ block.settings.image | image_url : master}}" class="img-fluid"/>
                  </div>
                  {% endif %}
                  <div class="block_content">
                      {% if block.settings.title != "" %}
                      <div class="block_title">
                        {{ block.settings.title }}    
                      </div>
                        {% endif %}
                        {% if block.settings.content %}
                        <div class="rte color-black">
                            {{ block.settings.content  }}
                        </div>
                       {% endif %}
                  </div>
                </div>
            
          {%- endfor -%}
      </div>
      {% endif %}



       
    </div>
  </div>

     <!--  -->
  {% if section.settings.before_image != blank %} 
    <img src="{{ section.settings.before_image | image_url : master}}" class="img-fluid p-absolute before_image" style="top:{{ section.settings.before_image_no }}px"/>
  {% endif %}
  {% if section.settings.after_image != blank %} 
    <img src="{{ section.settings.after_image | image_url : master}}" class="img-fluid p-absolute after_image" style="top:{{ section.settings.after_image_no }}px"/>
  {% endif %}
    <!--  -->
  
</div>
  
{% schema %}
  {
    "name": "Custom IWT",
    "settings": [
       {
            "type": "text",
            "id": "classname",
            "label": "Class Name"
          },
             {
          "type": "color",
          "id": "color_title",
          "label": "Background color",
          "default": "#FFF"
        },
          {
            "type": "textarea",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "textarea",
            "id": "content",
            "label": "Content"
          },
          {
            "type": "checkbox",
            "id": "btn_center",
            "default": false,
            "label": "Button Center"
          },
          {
          "type": "text",
          "id": "button_label",
          "default": "Read More",
          "label": "Button label"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button link"
        },
        {
            "type": "image_picker",
            "id": "image",
            "label": "Side Image"
          },
         {
                  "type": "checkbox",
                  "id": "row_reverse",
                  "default": false,
                  "label": "Row Reverse"
           },
         {
                  "type": "checkbox",
                  "id": "column",
                  "default": false,
                  "label": "Column Layout"
           },
         {
          "type": "header",
          "content": "Image Options"
        },
        {
            "type": "image_picker",
            "id": "before_image",
            "label": "Before Image"
          },
       {
                  "type": "text",
                  "id": "before_image_no",
                  "default": "0",
                  "label": "Top Position - Default 0"
           },
        {
            "type": "image_picker",
            "id": "after_image",
            "label": "After Image"
          },
       {
                  "type": "text",
                  "id": "after_image_no",
                  "default": "0",
                  "label": "Top Position - Default 0"
           }
      
    ],
    "blocks": [
      {
        "type": "column",
        "name": "Column",
        "settings": [
               {
          "type": "color",
          "id": "color_title",
          "label": "Background color",
          "default": "#F1EFE8"
        },
           {
            "type": "textarea",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "textarea",
            "id": "content",
            "label": "Content"
          },
            {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }
        ]
      }
    ],
    "presets": [
    {
      "name": "Custom IWT"
    }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}